<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>学生ID</th>
        <th>学生姓名</th>
        <th>老师姓名</th>
        <th>学生详情</th>
    </tr>
    {% for student in students %}
        <tr>
            <td>{{ student.stu_id }}</td>
            <td>{{ student.stu_name }}</td>
            <td>{{ student.teacher.tea_name }}</td>
            <td><a href="http://127.0.0.1:8000/model03/detail/{{ student.stu_id }}">查看</a></td>
        </tr>
    {% endfor %}


</table>


</body>
</html>